.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  cursor: pointer;
}

.card-header {
  text-align: center;
  margin-bottom: 15px;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  
}

.card-content {
  text-align: left;
}

.card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #555;
  line-height: 1.5;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}