@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.navbar-brand a:hover {
  transform: scale(1.1);
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
  padding: 0.5rem 0;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #ffe6e6;
  transform: scale(1.1);
}
